doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='/css/rtc.css')
		link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		div
			h2 How to Get Started
			ol
				li Create a room
					div Choose any name for your room.
				li Copy & share the link
					div Copy the link to the conference and send to those you want to talk to.
				li Talk together!
					div Once they click the link, they will join the conference with you.
		form(action='/join', method='post')
			label(for='room') Room:
			input(id='room' name='room', placeholder='my-room-name', required)
			button(type='submit') Start
