doctype html
html
	head
		style.
			#messages {
				border: 1px solid black;
				min-height: 20px;
			}
			#l-video {
				position: relative;
			}
			.controls {
				position: absolute;
				bottom: 0;
				margin: 0 auto;
				z-index: 1000;
			}
			.flex-container {
				display: flex;
				flex-flow: row wrap;
			}
		script(src='/socket.io/socket.io.js')
		//script(src='/js/rtc.min.js')
		script.
			var L_VIDEO = "#l-video";
			var R_VIDEO = "#r-video";

			// Set RTC options.
			var rtcOpts = {
				// simple constraints for the defaults
				constraints: {
					video: true,
					audio: true
				},
				
				// specify the location of the signalling server
				signaller: 'wss://' + location.hostname + ':8443',
			    
			    // room defined by default
				room: '#{room}',
				
				// specify ice servers or a generator function to create ice servers
				ice: [],
				
				// any data channels that we want to create for the conference by default
				// a chat channel is created, but other channels can be added also
				// additional options can be supplied to customize the data channel config
				// see: <https://w3c.github.io/webrtc-pc/#idl-def-RTCDataChannelInit>
				channels: {
					chat: true
				},
				
				// the selector that will be used to identify the local video container
				localContainer: '#l-video',
				
				// the selector that will be used to identify the remote video container
				remoteContainer: '#r-video',
				
				// common options overrides that are used across the rtc.io packages
				options: {}
			};
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
	body
		div(id='messages', contenteditable=true)
		div(id='l-video')
			div(class='controls' class='flex-container')
				// microphone microphone-slash
				button(id='audio' class='button button-audio')
					i(class='fa fa-2x fa-microphone')
				button(id='video' class='button button-video')
					i(class='fa fa-2x fa-eye')
		div(id='r-video' class='flex-container')
		//script(src='/js/rtc-video-chat.js')
		script(src='/js/webrtc.js')